* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;

  --white: #ffffff;
  --black: #000000;
  --dark-900: #101026;
  --dark-700: #1d1d2e;
  --gray-100: #8a8a8a;
  --green-900: #3fffa3;
  --red-900: #ff3d4e;
}

html {
  font-size: 1.6rem;
}

body {
  background-color: var(--dark-700);
}

body, input, textarea, select, button {
  font: 400 1.6rem sans-serif;
}

button {
  cursor: pointer;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (max-width: 720px) {
  html {
    font-size: 1.4rem;
  }
}

@media (max-width: 1080px) {
  html {
    font-size: 1.6rem;
  }
}